.todo_form {
  margin: 0 auto;
 }

 .todo_input {
  /* 목록입력란 스타일 */
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(88, 85, 85);
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(88, 85, 85);
}

.todo_input::placeholder {
  color: #ccc5c5;
}

.todo_button { 
  /* 추가버튼 */
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(218, 216, 221) 0%,
    rgb(207, 201, 211) 100%
  );
  color: #fff;
  text-transform: capitalize;
}