img {
    max-width: 100%;
    max-height: 100%;
    
   }
   .cat {
    height: 150px;
    width: 150px;
    margin-left: 14%;
   
   }



.title2{
	width: 100%;
	text-align: center;
}

.subtitle{
	width: 100%;
	text-align:center;
	font-size: 1rem;
	letter-spacing: .5px;

}

.regbackground{
	
	
	
	opacity: 0.6;
	
}
.iconPosition{
    padding-left: 50rem;
    padding-top: -3rem;
}

.profilePic {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }

.profileInfo {  
    padding-left: 3rem;
    
}


.reg-inner{
    
    width: 50%;
	margin-bottom: 4%;
    margin-top: 4%;
    margin-left: 31%;
    background: rgb(255, 255, 255);
    background-clip: initial;
    box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
    opacity: 0.8;
}

#field{
	margin-left: 1.5%;
}

#birth{
	margin-left: 5%;
}

#data{
	margin-left: 1.5%;
}

#Btn-2{
	margin-left: 36%;
}

